*{
    color:#ffffff;
}


.navbar p{
    font-size:25px;
    font-family: "Cabin",sans-serif;
    font-weight:600;
    color:#ffffff;

}

.menuhamburguesa{
  margin-left: 37rem;
  background: #f1efef 0% 0% no-repeat padding-box;
  border: 2px  solid #ffffff;
  border-radius: 4px;
 
}
  #navbarNav ul li a{
    color:#ffffff;
    font-size: 16pt;
    font-weight: 400;
    font-family: "Cabin", sans-serif;
  }

    

    .principal{
        background: #000000;
        
    }

    .contenido{
        color:#ffffff;
    }
  
    .contenido h1{
        font-size:35px;
        font-family: "Cabin",sans-serif;
        font-weight:500;
    }

    .contenido h2{ 
      font-size:35px;
      font-family: "Cabin",sans-serif;
      font-weight:500;
     

    }

    .contenido p{
      font-family: "Roboto", sans-serif;
      font-size: 15px;
      font-weight:500;
    }
    .carousel-item img {
        width: 18rem;
       

      }
      
      .items img {
        margin: .8rem;
      }
      
    
      .card img{
        height: 11rem;
      }

      .formulario{
        background: #000000;
      }



      footer{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
      }

      footer .footertext{
        font-size: 25px;
        font-family: "Cabin",sans-serif;
        font-weight:500;
        padding-top: 1rem;
        justify-content: center;
        text-align: left;
        vertical-align: middle;
      }

      
      footer i{
        margin-left: 1rem;
       
      
      }

   
     .iconos a{
      opacity: 0.9;
      text-decoration: none;
        
      

      }
      /* footer #iconos {
        margin-left: 37rem;
        padding-top: 1rem; 
    }  */

    /* @media (max-width: 768px) {
      .navbar {
        max-width: 100%;
      }
    }