*{
    color:#ffffff;
}

.navbar p{
    font-size:25px;
    font-family: "Roboto", sans-serif;
    font-weight:500;
    color:#ffffff;
}

.TextoViajeaChile{
  color: #fefbfb;
  font-size:20px;
  font-family: "Cabin",sans-serif;
  font-weight:500;
}

 
 
#navbarNav ul li a{
  color:#ffffff;
  font-size: 16pt;
  font-weight: 400;
  font-family: "Cabin", sans-serif;
}


.principal{
  background: #000000;
}

.contenido{
  color:#ffffff;
}
  
.contenido h1{
  font-size:35px;
  font-family: "Cabin",sans-serif;
  font-weight:500;
}
.contenido h2{ 
  font-size:35px;
  font-family: "Cabin",sans-serif;
  font-weight:500;
}

.contenido p{
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight:500;
  color:#ffffff;
}


@media(max-width:435px){
  .contenido h1{
    font-size: 23px;
  }
  .contenido p{
    font-size: 13px;
  }
  .fa-solid {
    color: #ffffff;
    font-size: 22px; 
    width: 9px;
    margin: 4px auto;
    padding: 3px;
  } 
  }
  
  @media (max-width: 768px) {
    .parrafo {
       margin-bottom: 30px;
     }
   }
   


/* iconos */
.contenido i{
  align-items: center;
  justify-content: center;
  display: flex;
}


  /* ---Destacados Card-- */
      
  @media(max-width:435px){
    #destacados h2{
      font-size: 23px;
  }
 }


.card h2 {
  font-size:25px;
  font-family: "Cabin",sans-serif;
  font-weight:500;
  justify-content: center;
  text-align: center;
}
  
.card p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight:400;
  color:#ffffff;
  
}
.card {
    flex: 1;
    margin-right: 15px;
 }
    
    
@media (max-width: 1196px) {
  .card-group {
    flex-direction: column;           
}
  .card-body h2{
    color:#625bbe !important;
    font-weight: bold;
}
}    
  
.card img{
  height: 11rem;
 }

/*----- Formulario -----*/
.formulario{
  background: #000000;
}

@media(max-width:435px){
  #formularioSection h2{
    font-size: 23px;
}
}


#exampleFormControlTextarea1{
  height: 12rem;
}
label{
  color:#ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight:400;
}

#buttonEnviar{
  color:#ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight:400;
  width: 9rem;
  margin-top: 15px;
}

/* -----Footer -----*/
footer{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

footer .footertext{
  font-size: 25px;
  font-family: "Cabin",sans-serif;
  font-weight:500;
  padding-top: 1rem;
  justify-content: center;
  text-align: left;
  vertical-align: middle;
  }

footer i{
  margin-left: 1rem;
}

/* Iconos redes sociales. */
.iconos a{
  opacity: 0.9;
  text-decoration: none;
}

/* Footer */
@media(max-width:435px){
  footer .footertext{
    font-size: 18px;
  }
  .iconos i{
    width: 1.3rem;
    height: auto;
    margin-right: 4px;
  }
}


